.title {
  background: rgb(121, 242, 157);
  font-family: Arial;
  color: #1890ff;
}
.contentStyle1 {
  height: 400px;
  color: #fff;
  lineHeight: 160px;
  textAlign: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  background-image: url('~@/assets/big6.jpg');
}
.contentStyle2 {
  height: 400px;
  color: #fff;
  lineHeight: 160px;
  textAlign: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  background-image: url('~@/assets/big3.jpg');
}
.contentStyle3 {
  height: 400px;
  color: #fff;
  lineHeight: 160px;
  textAlign: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  background-image: url('~@/assets/header1.jpg');

}
.contentStyle4 {
  height: 400px;
  color: #fff;
  lineHeight: 160px;
  textAlign: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  background-image: url('~@/assets/big2.png');
}
.secondtitle {
  line-height: 48px;
  margin-bottom: 2%;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 20px;
  z-index: 2;
  color: black;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 10px;
  z-index: 2;
  color: white;
}
