.title {
  background: rgb(121, 242, 157);
  font-family: Arial;
  color: #1890ff;
}
.contentStyle {
  height: 360px;
  color: #fff;
  lineHeight: 160px;
  textAlign: center;
  background: #364d79;
}
.secondtitle {
  line-height: 48px;
  margin-bottom: 2%;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
